[Unit]
Description=Pigeon Speaker Service
 
[Service]
User=USER
Environment=DISPLAY=:0
Environment="PIGEON_SPEAKER_WEBSERVER_CONFIG_PATH=/home/pi/cave-escape-pigeon/app/app_config.txt"
ExecStart=EXEC_START_PATH
StandardOutput=journal+console
StandardError=journal+console
 
[Install]
WantedBy=multi-user.target
Alias=pigeonspeaker.service
