[Unit]
Description=TFT Projector Service
 
[Service]
User=USER
Environment=DISPLAY=:0
Environment="PROJECTOR_WEBSERVER_CONFIG_PATH=/home/pi/cave-escape-projector/app/app_config.txt"
ExecStart=EXEC_START_PATH
StandardOutput=journal+console
StandardError=journal+console
 
[Install]
WantedBy=multi-user.target
Alias=tftprojector.service
