[Unit]
Description=TFT Projector Service
 
[Service]
User=USER
Environment=DISPLAY=:0
ExecStart=EXEC_START_PATH PATH
StandardOutput=journal+console
StandardError=journal+console
 
[Install]
WantedBy=multi-user.target
Alias=tftprojector.service
